@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* general styles */

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-size: 2.5em;
}

a {
    text-decoration: none;
}

/* styles for logo and nav bar */

header {
    position: relative;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3a3a3a;
    box-shadow: 0px 2px 5px #3a3a3a;
}

#logo {
    height: 100px;
    width: 100px;
    margin-left: 15px;
}

/* styles for pop out navbar */

nav {
    position: absolute;
    display: none;
    background-color: #ffffff;
    right: 0px;
    top: 100px;
    width: 150px;
    height: 250px;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 2px 5px #3a3a3a;
}

nav ul {
    list-style-type: none;
}

nav a {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
}

nav li {
    margin-top: 30px;
}

.nav-toggle-label {
    margin-right: 25px;
    font-size: 2em;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

/* styles for main content */

#about-section {
    width: 100vw;
    height: 600px;
    background: url(assets/images/hero-banner-small.png) center no-repeat;
}

#break-banner {
    width: 100vw;
    height: 100px;
    text-align: center;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 0px 5px #3a3a3a;
}

#break-banner h1 {
    color: #31633e;
    margin-top: 20px;
    font-size: 2.5em;
    text-shadow: -2px 2px 3px #3a3a3a;
}

#contact-section {
    width: 100vw;
    height: 600px;
    box-shadow: inset 2px 2px 5px #3a3a3a;
    background: url(/assets/images/background-banner-img.png) center no-repeat;
}

footer {
    width: 100vw;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 0px 5px #3a3a3a;
}

/* styles for prices page */

#policy-section {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 600px;
    background: url(/assets/images/hero-banner-small.png) center no-repeat;
}

.policies {
    width: 300px;
    height: 600px;
    background: url(/assets/images/policies-small.jpg) center;
}

#price-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background: url(/assets/images/background-banner-img.png) center;
}

.price-div {
    height: fit-content;
    width: 300px;
}

table {
    margin: 10px;
    width: 100px;
    height: 400px;
    max-width: 400px;
    max-height: 600px;
    border: solid 1px #000;
    background-color: lightgreen;
    box-shadow: 10px 10px 15px #3a3a3a;
}

th {
    font-family: "Marck Script", cursive;
    text-align: left;
    padding: 10px;
}

td {
    font-family: "Roboto", sans-serif;
    padding: 5px;
}

/* media queries */

@media screen and (min-width: 768px) {
    /* header and navbar media queries */

    .nav-toggle-label {
        display: none;
    }

    nav {
        position: relative;
        background: none;
        display: block;
        box-shadow: none;
        border: none;
        width: fit-content;
        top: 70px;
        right: 20px;
    }

    nav li {
        display: inline-block;
        padding: 10px;
    }

    nav a:hover {
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        transition: 0.7ms;
    }

    /* styles for main content on screen sizes 768px and up */

    #about-section {
        background: url(/assets/images/hero-banner-meduim.png) center no-repeat;
    }

    #break-banner h1 {
        margin: 0;
        color: #31633e;
        font-size: 5em;
    }

    #contact-section {
        background: url(/assets/images/background-banner-img-large.png) center no-repeat;
    }

    /* styles for prices page for screen 768px and up */

    #policy-section {
        background: url(/assets/images/hero-banner-meduim.png) center;
    }

    #price-section {
        background: url(/assets/images/background-banner-img-large.png) center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    table {
        width: 300px;
        background-color: #66ff77;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='975' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2366ff77'/%3E%3Cstop offset='1' stop-color='%23240'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='975' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23EF5' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23EF5' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23081' stroke-width='10' stroke-miterlimit='10' stroke-opacity='.2'%3E%3Cpolygon points='-500%2C500 500%2C-500 1500%2C500 500%2C1500'/%3E%3Cpolygon points='-475%2C500 500%2C-475 1475%2C500 500%2C1475'/%3E%3Cpolygon points='-450%2C500 500%2C-450 1450%2C500 500%2C1450'/%3E%3Cpolygon points='-425%2C500 500%2C-425 1425%2C500 500%2C1425'/%3E%3Cpolygon points='-400%2C500 500%2C-400 1400%2C500 500%2C1400'/%3E%3Cpolygon points='-375%2C500 500%2C-375 1375%2C500 500%2C1375'/%3E%3Cpolygon points='-350%2C500 500%2C-350 1350%2C500 500%2C1350'/%3E%3Cpolygon points='-325%2C500 500%2C-325 1325%2C500 500%2C1325'/%3E%3Cpolygon points='-300%2C500 500%2C-300 1300%2C500 500%2C1300'/%3E%3Cpolygon points='-275%2C500 500%2C-275 1275%2C500 500%2C1275'/%3E%3Cpolygon points='-250%2C500 500%2C-250 1250%2C500 500%2C1250'/%3E%3Cpolygon points='-225%2C500 500%2C-225 1225%2C500 500%2C1225'/%3E%3Cpolygon points='-200%2C500 500%2C-200 1200%2C500 500%2C1200'/%3E%3Cpolygon points='-175%2C500 500%2C-175 1175%2C500 500%2C1175'/%3E%3Cpolygon points='-150%2C500 500%2C-150 1150%2C500 500%2C1150'/%3E%3Cpolygon points='-125%2C500 500%2C-125 1125%2C500 500%2C1125'/%3E%3Cpolygon points='-100%2C500 500%2C-100 1100%2C500 500%2C1100'/%3E%3Cpolygon points='-75%2C500 500%2C-75 1075%2C500 500%2C1075'/%3E%3Cpolygon points='-50%2C500 500%2C-50 1050%2C500 500%2C1050'/%3E%3Cpolygon points='-25%2C500 500%2C-25 1025%2C500 500%2C1025'/%3E%3Cpolygon points='0%2C500 500%2C0 1000%2C500 500%2C1000'/%3E%3Cpolygon points='25%2C500 500%2C25 975%2C500 500%2C975'/%3E%3Cpolygon points='50%2C500 500%2C50 950%2C500 500%2C950'/%3E%3Cpolygon points='75%2C500 500%2C75 925%2C500 500%2C925'/%3E%3Cpolygon points='100%2C500 500%2C100 900%2C500 500%2C900'/%3E%3Cpolygon points='125%2C500 500%2C125 875%2C500 500%2C875'/%3E%3Cpolygon points='150%2C500 500%2C150 850%2C500 500%2C850'/%3E%3Cpolygon points='175%2C500 500%2C175 825%2C500 500%2C825'/%3E%3Cpolygon points='200%2C500 500%2C200 800%2C500 500%2C800'/%3E%3Cpolygon points='225%2C500 500%2C225 775%2C500 500%2C775'/%3E%3Cpolygon points='250%2C500 500%2C250 750%2C500 500%2C750'/%3E%3Cpolygon points='275%2C500 500%2C275 725%2C500 500%2C725'/%3E%3Cpolygon points='300%2C500 500%2C300 700%2C500 500%2C700'/%3E%3Cpolygon points='325%2C500 500%2C325 675%2C500 500%2C675'/%3E%3Cpolygon points='350%2C500 500%2C350 650%2C500 500%2C650'/%3E%3Cpolygon points='375%2C500 500%2C375 625%2C500 500%2C625'/%3E%3Cpolygon points='400%2C500 500%2C400 600%2C500 500%2C600'/%3E%3Cpolygon points='425%2C500 500%2C425 575%2C500 500%2C575'/%3E%3Cpolygon points='450%2C500 500%2C450 550%2C500 500%2C550'/%3E%3Cpolygon points='475%2C500 500%2C475 525%2C500 500%2C525'/%3E%3C/g%3E%3Crect fill-opacity='.2' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }

    /* styles for price page for screen sizes 768px and up */
}

@media screen and (min-width: 1440px) {}
