@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* general styles */

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-size: 2.5em;
}

a {
    text-decoration: none;
}

/* styles for logo and nav bar */

header {
    position: relative;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3a3a3a;
    box-shadow: 0px 2px 5px #3a3a3a;
}

#logo {
    height: 100px;
    width: 100px;
    margin-left: 15px;
}

/* styles for pop out navbar */

nav {
    position: absolute;
    display: none;
    background-color: #ffffff;
    right: 0px;
    top: 100px;
    width: 150px;
    height: 250px;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 2px 5px #3a3a3a;
}

nav ul {
    list-style-type: none;
}

nav a {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
}

nav li {
    margin-top: 30px;
}

.nav-toggle-label {
    margin-right: 25px;
    font-size: 2em;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

/* styles for main content */

#about-section {
    width: 100vw;
    height: 600px;
    background: url(/assets/images/hero-banner-small.png) center no-repeat;
}

#break-banner {
    width: 100vw;
    height: 100px;
    text-align: center;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 0px 5px #3a3a3a;
}

#break-banner h1 {
    color: #31633e;
    margin-top: 20px;
    font-size: 2.5em;
    text-shadow: -2px 2px 3px #3a3a3a;
}

#contact-section {
    width: 100vw;
    height: 600px;
    box-shadow: inset 2px 2px 5px #3a3a3a;
    background: url(/assets/images/background-banner-img.png) center no-repeat;
}

footer {
    width: 100vw;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 0px 5px #3a3a3a;
}

/* styles for prices page */

#policy-section {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 600px;
    background: url(/assets/images/hero-banner-small.png) center no-repeat;
}

.policies {
    width: 300px;
    height: 600px;
    background: url(/assets/images/policies-small.jpg) center;
}

#price-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background: url(/assets/images/background-banner-img.png) center;
}

.price-div {
    height: 500px;
    width: 300px;
}

.nails-eyes {
    background: url(/assets/images/nails-eyes-price-small.jpg) center no-repeat;
}

.massage {
    background: url(/assets/images/massage-price-small.jpg) center;
    height: 375px;
}

.facials {
    background: url(/assets/images/facials-price-small.jpg) center;
    height: 450px;
    margin: 10px 0 10px 0;
}


/* media queries */

@media screen and (min-width: 768px) {
    /* header and navbar media queries */

    .nav-toggle-label {
        display: none;
    }

    nav {
        position: relative;
        background: none;
        display: block;
        box-shadow: none;
        border: none;
        width: fit-content;
        top: 70px;
        right: 20px;
    }

    nav li {
        display: inline-block;
        padding: 10px;
    }

    nav a:hover {
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        transition: 0.7ms;
    }

    /* styles for main content on screen sizes 768px and up */

    #about-section {
        background: url(/assets/images/hero-banner-meduim.png) center no-repeat;
    }

    #break-banner h1 {
        margin: 0;
        color: #31633e;
        font-size: 5em;
    }

    #contact-section {
        background: url(/assets/images/background-banner-img-large.png) center no-repeat;
    }
}

@media screen and (min-width: 1440px) {}